<html>

<head>

<title>机构详细资料</title>

<meta http-equiv="Content-Type" content="text/html; charset=gb2312"></head><body bgcolor="#FFFFFF">

%% INCLUDE pmStyle.htm %%







<table border="1" align="center" bgColor="#EEEEEE" bordercolor="#CCCCCC" width="751">
  <tr> 
    <td colspan="2" align="center"> 
      <p>Firm Details/机构详细资料<small>(<a href="modify.pl?typ=2&id=%%id%%">Data Updating/更新数据</a>)</small></p>
    </td>
  </tr>
  <tr> 
    <td align="right"><small>Name/机构名称:</small></td>
    <td><small>%%name_cn%%</small></td>
  </tr>
  <tr> 
    <td align="right"><small>Short Name/机构简称:</small></td>
    <td><small>%%sname%%</small></td>
  </tr>
  <tr> 
    <td align="right"><small>Country/省/直辖市:</small></td>
    <td><small>%%province%% &nbsp;</small></td>
  </tr>
  <tr> 
    <td align="right"> <small>City/市/区/县:</small></td>
    <td><small>%%city%% &nbsp;</small></td>
  </tr>
  <tr> 
    <td align="right"><small>Address/地址:</small></td>
    <td><small>%%address%% &nbsp;</small></td>
  </tr>
  <tr> 
    <td align="right"><small>Zip Code/邮编:</small></td>
    <td><small>%%zipcode%% &nbsp;</small></td>
  </tr>
  <tr> 
    <td align="right"><small>Tel/电话:</small></td>
    <td><small>%%tel%% &nbsp;</small></td>
  </tr>
  <tr> 
    <td align="right"><small>Fax/传真:</small></td>
    <td><small>%%fax%% &nbsp;</small></td>
  </tr>
  <tr> 
    <td align="right"><small>Email1/电子信箱1:</small></td>
    <td><small>%%email1%% &nbsp;</small></td>
  </tr>
  <tr> 
    <td align="right"><small>Email2/电子信箱2:</small></td>
    <td><small>%%email2%% &nbsp;</small></td>
  </tr>
  <tr> 
    <td align="right"><small>Web/网址:</small></td>
    <td><small>%%website%% &nbsp;</small></td>
  </tr>
  <tr> 
    <td align="right"><small>Reg.No./机构注册证号:</small></td>
    <td><small>%%serial%% &nbsp;</small></td>
  </tr>
  <tr> 
    <td align="right"><small>Year of Est./注册日期:</small></td>
    <td><small>%%authdate%% &nbsp;</small></td>
  </tr>
  <tr> 
    <td align="right"><small>Practice and Relation I/业务关系1:</small></td>
    <td><small>%%area1%% &nbsp;</small></td>
  </tr>
  <tr> 
    <td align="right"><small>Practice and Relation II/业务关系2:</small></td>
    <td><small>%%area2%% &nbsp;</small></td>
  </tr>
  <tr> 
    <td align="right"> <small>Practice and Relation III/业务关系3:</small></td>
    <td><small>%%area3%% &nbsp;</small></td>
  </tr>
  <tr> 
    <td align="right"><small>Language/工作语言:</small></td>
    <td width="442"><small>%%language%% &nbsp;</small></td>
  </tr>
  <tr> 
    <td colspan="2" align="center"><a href="javascript:history.back()"><small>Back/返回</small></a></td>
  </tr>
</table>

%% INCLUDE pmBottom.htm %%

</body>

</html>

