<html>
<head>
<title>查询个人</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<style type="text/css">
<!--
div {font-size:14px; line-height:18px; font-family:宋体;}
small {font-size:12px; font-family:宋体;}
a:visited {color:blue;}
a:hover {color:red;}
.unnamed1 {  }
p { font-size:14px; line-height:18px; font-family:"宋体"; ; } -->
</style>
</head>
<script language=javascript>
function doSelectA()
{
	var p = document.forms[0].sel_area.options[document.forms[0].sel_area.selectedIndex].value;
 	document.forms[0].area.value = p;
    <!--location = "/cgi-bin/showsearch.pl?typ=0&province=" + document.forms[0].province.value + "&area=" + p +"&city=" + document.forms[0].city.value;-->

}

function doSelectP()
{
	var p = document.forms[0].sel_province.options[document.forms[0].sel_province.selectedIndex].value;
	document.forms[0].province.value = p;
	location = "/cgi-bin/showsearch.pl?typ=0&province=" + p + "&area=" + document.forms[0].area.value;
}
</script>
<body bgcolor="#FFFFFF">
<form method="post" name="search" action="/cgi-bin/search.pl">
  <table width=640 border="0" align="center">
    <tr> 
      <td colspan="2" align="center"> 
        <p>个人查询/Find Individual</p>
      </td>
    </tr>
    <tr> 
      <td align="right" nowrap> 
        <p>Practice and Relation/业务关系:</p>
      </td>
      <td> <font color="#FF0000"> 
        <input type="text" name="area" value="%% area %%">
        <font color="#000000">
        <select name="sel_area" onChange="doSelectA();">
          <option value="">或选择.... %% lawarealine %% 
        </select>
        </font></font></td>
    </tr>
    <tr> 
      <td align="right" nowrap> 
        <p>Country/省/直辖市:</p>
      </td>
      <td> 
        <input type="text" name="province" value="%% province %%">
        <select name="sel_province" onChange="doSelectP();">
          <option value="">或选择.... %% provinceline %% 
        </select>
      </td>
    </tr>
    <tr> 
      <td align="right" nowrap> 
        <p>City/市/区/县:</p>
      </td>
      <td> 
        <input type="text" name="city" value="%% city %%">
        %% INCLUDE cityselect if="havecity == 1"%% </td>
    </tr>
    <tr> 
      <td align="right"> 
        <p>Language/工作语言:</p>
      </td>
      <td class="unnamed1"> 
        <input type="text" name="language">
      </td>
    </tr>
    <tr> 
      <td align="right" height="26"> 
        <p><font color="#000000">Name/姓名</font>:</p>
      </td>
      <td height="26"> 
        <input type="text" name="name">
      </td>
    </tr>
    <tr> 
      <td colspan="2" align="center"> 
        <input type="hidden" name="typ" value="0">
        <input type="submit" name="Submit" value="查  询">
        <input type="button" name="help" value="查询帮助" onClick='location="/help/help.htm"'>
      </td>
    </tr>
  </table>
</form>


<p>%% BLOCK cityselect %% 
  <script language=JavaScript>
function doSelectC()
{
	var p = document.forms[0].sel_city.options[document.forms[0].sel_city.selectedIndex].value;
	document.forms[0].city.value = p;
location = "/cgi-bin/showsearch.pl?typ=0&province=" + document.forms[0].province.value + "&area=" +document.forms[0].area.value +"&city=" + document.forms[0].city.value;
}
</script>
  <select name="sel_city" onChange="doSelectC();">
    <option value="0">或选择.... %% cityline %% 
  </select>
  %% ENDBLOCK %% </p>
%% INCLUDE pmBottom.htm %%   
</body>
</html>