<html>

<head>

<title>个人详细资料</title>

<meta http-equiv="Content-Type" content="text/html; charset=gb2312"></head><body bgcolor="#FFFFFF">

%% INCLUDE pmStyle.htm %%







<table width="760" border="1" align="center" bgColor="#EEEEEE" bordercolor="#CCCCCC">
  <tr>

    <td colspan="2" align="center"> 
      <p>Individual Details/个人详细资料<small>(<a href="modify.pl?typ=1&id=%%id%%">Date 
        Updating/更新数据</a>)</small></p>
    </td>

  </tr>

  <tr> 

    <td align="right" nowrap width="312"><small>Name/姓名:</small></td>

    <td nowrap width="432"><small>%%name%% &nbsp;</small></td>

  </tr>

  <tr> 

    <td align="right" nowrap width="312"><small>Country/省/直辖市:</small></td>

    <td nowrap width="432"><small>%%province%% &nbsp;</small></td>

  </tr>

  <tr> 

    <td align="right" nowrap width="312"><small>City/市/区/县:</small></td>

    <td nowrap width="432"><small>%%city%% &nbsp;</small></td>

  </tr>

  <tr> 

    <td align="right" nowrap width="312"><small>Address/地址:</small></td>

    <td nowrap width="432"><small>%%address%% &nbsp;</small></td>

  </tr>

  <tr> 

    <td align="right" nowrap width="312"><small>Zip Code/邮编:</small></td>

    <td nowrap width="432"><small>%%zipcode%% &nbsp;</small></td>

  </tr>

  <tr> 

    <td align="right" nowrap width="312"><small>Tel/电话:</small></td>

    <td nowrap width="432"><small>%%tel%% &nbsp;</small></td>

  </tr>

  <tr> 

    <td align="right" nowrap width="312"><small>Fax/传真:</small></td>

    <td nowrap width="432"><small>%%fax%% &nbsp;</small></td>

  </tr>

  <tr> 

    <td align="right" nowrap width="312"><small>Mobile/手机:</small></td>

    <td nowrap width="432"><small>%%mobile%% &nbsp;</small></td>

  </tr>

  <tr> 

    <td align="right" height="9" nowrap width="312"><small>Email1/电子信箱1:</small></td>

    <td nowrap height="9" width="432"><small>%%email1%% &nbsp;</small></td>

  </tr>

  <tr> 

    <td align="right" nowrap width="312"><small>Email2/电子信箱2:</small></td>

    <td nowrap width="432"><small>%%email2%% &nbsp;</small></td>

  </tr>
 
  <tr> 

    <td align="right" nowrap width="312"><small>Web/网址:</small></td>

    <td nowrap width="432"><small>%%website%% &nbsp;</small></td>

  </tr>
 
  <tr> 

    <td align="right" nowrap width="312"><small>Reg.No./登记证号:</small></td>

    <td nowrap width="432"><small>%%serial%% &nbsp;</small></td>

  </tr>

  <tr> 

    <td align="right" nowrap width="312"><small>Bar Entry Day/登记日期:</small></td>

    <td nowrap width="432"><small>%%authdate%% &nbsp;</small></td>

  </tr>

  <tr> 

    <td align="right" nowrap width="312"><small>Practice and Relation I/业务关系1:</small></td>

    <td nowrap width="432"><small>%%area1%% &nbsp;</small></td>

  </tr>

  <tr> 

    <td align="right" nowrap width="312"><small>Practice and Relation II/业务关系2:</small></td>

    <td nowrap width="432"><small>%%area2%% &nbsp;</small></td>

  </tr>

  <tr> 

    <td align="right" nowrap width="312"><small>Practice and Relation III/业务关系3:</small></td>

    <td nowrap width="432"><small>%%area3%% &nbsp;</small></td>

  </tr>

  <tr> 

    <td align="right" nowrap width="312"><small>Firm/所属机构:</small></td>

    <td nowrap width="432"><small>%%lawoffice%% &nbsp;</small></td>

  </tr>

  <tr> 

    <td align="right" nowrap width="312"><small>Language/工作语言:</small></td>

    <td nowrap width="432"><small>%%language%% &nbsp;</small></td>

  </tr>

  <tr>

    <td colspan="2" align="center"><a href="javascript:history.back()"><small>Back/返回</small></a></td>

  </tr>

</table>

%% INCLUDE pmBottom.htm %%

</body>

</html>

