<html>
<head>
<title>信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<style type="text/css">
<!--
.text {
	border: #CCCCCC;
	background-color: #EEEEEE;
}
-->
</style>
</head>
<body bgcolor="#FFFFFF">
%% INCLUDE pmStyle.htm %%


<table width="62%" align="center" border="1" bgColor="#EEEEEE" bordercolor="#CCCCCC" class="f1">
  <tr> 
    <td colspan="2" align="center" height="21"> 
      <p>详细内容<small>/Detail(<a href="modify.pl?typ=3&id=%%id%%">更正或提交信息/Data 
        Updating</a>)</small></p>
    </td>
  </tr>
  <tr> 
    <td align="right" nowrap width="30%" height="19" valign="top"><small>First 
      Area/主库类别:</small></td>  
    <td valign="top" width="70%" height="19"> 
      <div align="left"><small>%%area%%</small></div>
    </td>
  </tr>
  <tr> 
    <td align="right" nowrap width="30%" height="18" valign="top"><small>Second 
      Area/辅库类别:</small></td>
    <td valign="top" width="70%" height="18"> 
      <div align="left"><small>%%type%%</small></div>
    </td>
  </tr>
  <tr> 
    <td align="right" nowrap width="30%" height="20" valign="top"><small>First 
      Keyword/主关键字:</small></td>
    <td valign="top" width="70%"> 
      <div align="left"><small>%%title%%</small></div>
    </td>
  </tr>
  <tr> 
    <td align="right" nowrap height="20" width="30%" valign="top"><small>Second 
      Keyword/副关键字:</small></td>
    <td valign="top" width="70%"> 
      <div align="left"><small>%%keyword%%</small></div>
    </td>
  </tr>
  <tr> 
    <td align="right" valign="top" nowrap width="30%" height="380"><small>Content/正　　文:</small></td>
    <td width="70%" valign="top"> 
      <div align="left"><small> %%content%%</small></div>
    </td>
  </tr>
  <tr align="center"> 
    <td valign="top" nowrap colspan="2" height="20"><a href="javascript:history.back()"><small>返回/Back</small></a></td>
  </tr>
</table>
%% INCLUDE pmBottom.htm %%  
</body></html>
